<ion-view view-title="Inicio">
  <ion-content class="padding">
    <form>
      <label class="item item-input">
        <span class="input-label">Nombre</span>
        <input name="nombre" id="nombre" type="text">
      </label>

      <label class="item item-input">
        <span class="input-label">Apellido</span>
        <input name="apellido" id="apellido" type="text">
      </label>

      <label class="item item-input">
        <span class="input-label">Email</span>
        <input name="email" id="email" type="email">
      </label>

      <label class="item item-input">
        <span class="input-label">Password</span>
        <input name="password" id="password" type="password">
      </label>

      <br>
      <button id="quickstart-sign-up" class="button button-balanced" name="signup">
        Sign Up
      </button>
    </form>
  </ion-content>
</ion-view>